.font-serif {
  font-family: "Noto Serif TC", serif;
}

.hover-bg-secondary-200:hover {
  background-color: $secondary-200;
  color: #fff;
}

.hover-text-secondary-200:hover {
  color: $secondary-200;
}

// .hover-text-white:hover {
//   color: #fff !important;
// }

.width-0 {
  width: 0 !important;
}

.object-cover {
  object-fit: cover;
}

.img-scale:hover {
  transform: scale(1.2);
  transition: all .3s ease;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  color: #fff;
}

// 背景斑點效果
.bg-mask-texture {
  background-image: url("@/assets/images/Noise\ &\ Texture.png");
}

.box-shadow-1 {
  box-shadow: 0 4px 32px rgba(0,0,0,0.16);
}
.box-shadow-2 {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.box-shadow-3 {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.hover-shadow:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.16);
}

// .hover-float:hover {
//   transform: translateY(-10px);
// }

// .product-link:hover {
//   img {
//     transition: all 0.3s ease;
//     transform: scale(1.2);
//     filter: brightness(60%);
//   }
//   .product-img::after {
//     opacity: 1;
//     transform: translate(-50%, -50%);
//   }
// }

.animation-from-top {
  animation: moveFromBottom 0.4s ease;
}
.animation-zoom {
  animation: zoom 0.4s ease-in-out;
}
