$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// rwd min-width
@mixin respond-min($name) {
  @each $breakpoint,$size in $grid-breakpoints {
    @if $name == $breakpoint {
      @media only screen and (min-width: $size) {
        @content;
      }
    }
    // for font-size (fs-md-*)
    @if $name == $size {
      @media only screen and (min-width: $size) {
        @content;
      }
    }
  }
}
